body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fullheight {
  height: 100%;
}

.downbutton {
  top: 90%;
  left: 5%;
}

.inner {
  display: table;
  margin: 0 auto;
}

.section {
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
}

.horzalign {
  margin: 0 auto;
  border: solid;
}

.childClass {
  position: absolute;
  opacity: 0.6;
  height: 150px;
  width: 200px;
}

.underworld {
  padding: 2%;
}